canvas {
    border: 10px solid white;
    animation: 30s spin linear infinite;
}

@keyframes spin {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.hiddenCanva {
    display: none;
}

.hidden {
    display: none;
}

#endgame_container {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    z-index: 100;

    #endgame {
        position: relative;

        background-color: white;
        border-radius: 1rem;
        gap: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;
        max-width: 350px;
        padding: 1rem;

        img#close_button_img {
            max-width: 20px;
            position: absolute;
            top: 0;
            right: 0;
            padding: 2rem;
            cursor: pointer;
        }

        h2 {
            margin: 1.5rem 0;
            font-size: 3rem;
            font-weight: 300;
        }

        #final_scores {
            font-size: 2rem;
        }

        .game_option_item {
            display: flex;
            gap: 1rem;
            font-size: 1.8rem;
            align-items: center;
        }

        button {
            margin: 1.5rem 0;
        }
    }

}