#chat {
	display: flex;
	align-items: center;
	background-color: white;
	box-sizing: border-box;

	height: 90vh;

	border-radius: 1rem;

	position: fixed;
	top: 50%;
	left: 0;

	transform: translateY(-50%);
	margin-left: 1rem;

	z-index: 10;

	padding: 1rem;
}