#edit_profile_container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    #edit_profile {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        border-radius: 1rem;
        gap: 0.5rem;

        position: relative;
        width: 320px;


        img#close_button_img {
            max-width: 20px;
            position: absolute;
            top: 0;
            right: 0;
            padding: 2rem;
            cursor: pointer;
        }

        h2 {
            margin-top: 3rem;
            font-weight: 300;
            font-size: 1.8rem;
        }

        .text_input_container {
            margin: 0;
        }

        p.edit_profile_cancel {
            margin: 0;
            font-size: 1.4rem;
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        p {
            margin: 0;
        }

        #edit_profile_input {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin: 2rem 0 1rem 0;

            .text_input_container {
                margin: 0;
            }
        }


        input#avatar_input[type="file"] {
            display: none;
        }

        #avatar_upload {
            box-sizing: border-box;

            font-size: 1.6rem;
            font-weight: 00;

            box-shadow: none;
            border: 2px solid #4285F4;
            background-color: #4285F4;
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            padding: 1rem;

            font-family: 'Lato', sans-serif;
            font-weight: 400;

            cursor: pointer;

            transition: all 0.3s;

            border-radius: 0.3rem;

            min-width: 8rem;

            &:hover {
                border: 2px solid #1F66CA;
                background-color: #1F66CA;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }

            img {
                max-width: 15px;
            }
        }
    }
}