#dm_picker {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    background-color: #efefef;
    height: 100%;
    border-radius: 1rem;

    padding: 1rem;
    overflow-x: hidden;
    overflow-y: visible;
    max-width: 100%;
    min-width: 100px;

    &::-webkit-scrollbar {
        display: none;
    }

    .dm_picker_room {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p.dm_picker_room_name {
            z-index: 10;
            position: absolute;
            display: none;
            background-color: rgba(0, 0, 0, 0.8);
            box-sizing: border-box;

            font-size: 1.4rem;
            color: white;
            padding: 0.5rem 1rem;

            border-radius: 0.5rem;
            min-width: max-content;

            top: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
            transition: all 0.3s;
            animation: fade-in 0.3s forwards;
        }

        &:hover p.dm_picker_room_name {
            display: inline-block;
        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            object-fit: cover;
            cursor: pointer;

            box-shadow: none;
            transition: all 0.3s;

            &:hover {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
        }

        #friend_log_status {
            height: 13px;
            width: 13px;
            border-radius: 100%;
            background-color: rgba(125, 125, 125);
            position: absolute;
            bottom: 0;
            right: 0;
            border: 2px solid #efefef;
        }

        #friend_log_status.connected {
            animation: bounce-in 1s ease forwards;
            background-color: green;
        }

        #friend_log_status.playing {
            animation: bounce-in 1s ease forwards;
            background-color: blue;
        }

        #friend_log_status.queuing {
            animation: bounce-in 1s ease forwards;
            background-color: orange;
        }

        #friend_log_status.watching {
            animation: bounce-in 1s ease forwards;
            background-color: purple;
        }
    }

    .add_room_button {
        height: 60px;
        width: 60px;
        min-width: 60px;

        box-sizing: border-box;

        font-size: 4rem;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0;
        border-radius: 100%;

    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}