.chat_box {
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;

	.chat_box_settings_container {
		box-sizing: border-box;
		height: 0%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		background-color: white;
		z-index: 10;

		transition: all 0.3s;

		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		.chat_box_settings {
			padding: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 3rem;

			.chat_box_settings_password {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				.reskue_text_input_container {
					margin: 0.6rem;
				}
			}

			p {
				margin: 0;
				font-size: 1.6rem;
			}

		}
	}

	.chat_box_settings_container_open {
		height: 100%;
	}

	#chat_messages_container {

		// overflow: scroll;
		height: 100vh;
		max-width: 100%;
		overflow: scroll;
		display: flex;
		flex-direction: column-reverse;
		position: relative;

		#chat_messages {
			position: relative;
			width: 100%;
			box-sizing: border-box;
			// transform: translateY(-100%);

			.message {
				box-sizing: border-box;
				position: relative;
				font-size: 1.6rem;
				padding: 1rem;
				width: 100%;
				display: flex;
				gap: 1rem;

				img {
					border-radius: 100%;
					max-width: 40px;
					max-height: 40px;
				}

				p {
					font-weight: 600;
					margin: 0;
				}

				span {
					font-weight: 300;
					font-size: 1rem;
				}

				p.message_text {
					font-weight: 400;
				}
			}
		}
	}
}