.chat_sender {
	display: flex;
	justify-content: center;
	align-items: center;

	input {
		width: 100%;
		padding: 1rem;
		box-sizing: border-box;
	}

	button {
		padding: 1rem;
		border-radius: 0;
		border: 1px solid black;
		background-color: black;
		color: white;
		box-shadow: none;
		box-sizing: border-box;
	}
}