.chat_sender {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;

	.reskue_text_input_container {
		margin: 0;
		width: 100%;

		// input {
		// 	height: 30px;
		// 	border: 1px solid rgba(0, 0, 0, 0.2);
		// 	background-color: #fff;
		// }
	}
}