@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

.error_text {
    box-sizing: border-box;
    font-size: 1.4rem;
    color: red;
    margin: 1rem 0;
}

.success_text {
    box-sizing: border-box;
    font-size: 1.4rem;
    color: green;
    margin: 1rem 0;
}

.link {
    font-size: 1.4rem;
    color: #4285F4;
    cursor: pointer;
}