#game_options_list_container {
	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);

	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;


	#game_options_list {
		position: relative;

		background-color: white;
		border-radius: 1rem;
		gap: 1rem;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		width: 100%;
		max-width: 350px;
		padding: 1rem;

		img#close_button_img {
			max-width: 20px;
			position: absolute;
			top: 0;
			right: 0;
			padding: 2rem;
			cursor: pointer;
		}

		h2 {
			margin: 1.5rem 0;
			font-size: 3rem;
			font-weight: 300;
		}

		.game_option_item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 70%;
			gap: 1rem;
			font-size: 1.8rem;
			align-items: center;

			.switch_button {
				min-width: 5rem;
			}

			p {
				width: 100%;
				text-align: center;
			}
		}

		button {
			margin: 1.5rem 0;
		}
	}

	#private_game_modal {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;

		#private_game_modal_buttons {
			display: flex;
			gap: 3rem;
		}
	}

}